DirectoryIndex index.php
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /index.php?_peticion_=$1 [NC,L,QSA]
#  RewriteCond %{HTTP_HOST} ^www\.example\.es$
#  RewriteRule ^/?$ "http\:\/\/example\.es\/" [R=301,L]
</IfModule>
<IfModule mod_expires.c>
#  ExpiresActive on
#  ExpiresByType image/jpg "access plus 1 month"
#  ExpiresByType image/jpeg "access plus 1 month"
#  ExpiresByType image/gif "access plus 1 month"
#  ExpiresByType image/png "access plus 1 month"
</IfModule>